@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";



body{
  font-family: "Roboto", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #F0F5F1; /* branco suave */
  --foreground: #0f172a;

  --card: #ffffff;
  --card-foreground: #0f172a;

  --primary: #64B7AB; /* verde musgo */
  --primary-foreground: #64B7AB;

  --secondary: #004d40; /* bege areia */
  --secondary-foreground: #0a5044;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --accent: #E2EEE8; /* verde claro */
  --accent-foreground: #0f172a;

  --destructive: #fb6b6b; /* terracota suave */

  --border: #E0E0E0;
  --input: #E0E0E0;
  --ring: #009929;

  --radius: 0.5rem;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }

  
}

.btn-verde{
    @apply bg-secondary text-white px-4 py-2 rounded hover:scale-110 transform cursor-pointer  duration-150;
  }

   .btn-cinza{
    @apply bg-primary text-white px-4 py-2 rounded  hover:scale-110 transform cursor-pointer  duration-150;
  }
  .btn-red{
    @apply bg-destructive text-white px-4 py-2 rounded hover:scale-110 transform cursor-pointer  duration-150;
  }

  .input {
  @apply border border-input bg-white px-3 py-2 rounded-lg focus:ring-2 focus:ring-primary outline-none;
}

.card {
  @apply bg-card text-card-foreground rounded-xl shadow-sm border p-4;
}